<div class="container container2">
	<div class="row">
		<div class="page-header">
			<h5>Condiciones de los Tratamientos</h5>
		</div>
		<p class="page-text-small bottom">
				1. Todos nuestros tratamientos tienen una vigencia m&aacute;xima de 3 meses para la aplicaci&oacute;n del mismo, 
				contados a partir de la fecha de facturaci&oacute;n (los de mantenimiento inclusive). <b>SIN EXCEPCIONES</b>. 
				<br>2. Todos nuestros tratamientos son: <b>NO TRANSFERIBLES</b> y <b>NO REEMBOLSABLES</b>. <b>SIN EXCEPCIONES</b>. 
				<br>3. Si usted no confirma su cita antes de las 3 pm del d&iacute;a anterior a su tratamiento, autom&aacute;ticamente 
				perder&aacute; dicha cita. 
				<br>4. Si usted pierde 2 citas consecutivas daremos por realizadas las mismas. <b>SIN EXCEPCIONES</b>. 
				<br>5. Si usted llega retrasada a su cita, solo se le atender&aacute; si le resta suficiente tiempo para la 
				aplicaci&oacute;n completa del tratamiento. <b>SIN EXCEPCIONES</b>.
					
				<br>Trabajamos para brindarles los mejores tratamientos a los mejores precios, esa es la causa de nuestro gran n&uacute;mero de pacientes. 
				Gracias por preferirnos.
		</p>
	</div>
</div>